*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./Images/dog-cute-pet-web-banner-with-copy-space-generative-ai-free-photo.jpg');
    background-size: cover;
}
.text>p{
    text-align: center;
    font-size: 50px;
    color: beige;
    padding-top: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    font-size: 60px;
    color:  rgb(194, 157, 65);
}
.btn{
    margin-left: 40rem;
    margin-top: 3rem;
    border-radius: 60px;
    padding: 0.8rem;
    background-color: rgb(194, 157, 65);
    border: rgb(194, 157, 65);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.btn:hover{
    cursor: pointer;
    color: beige;
}