*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-logo>img{
    width: 10%;
    margin-left: 2rem;
    padding-top: 2rem;
}
.image-logo{
    width: 9%;
    padding-top: 1rem;
    padding-left: 2rem;
}
.header{
    position: relative;
}
.logo-text{
    position: absolute;
    top: 87%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    left: 11.5%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1rem;
    color: rgb(194, 157, 65);



}

.navigation>ul>li{
    margin: 1rem;
    list-style: none;
    display: inline;
    
    

}
.navigation>ul>li>a{
    text-decoration: none;
    color: rgb(194, 157, 65);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}
.navigation>ul>li>a:hover{
    cursor: pointer;
    border-bottom: rgb(194, 157, 65) solid;
}
.button{
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
}
.btn1{
    padding: 0.6rem;
    background: rgb(194, 157, 65);
    border-radius: 150px;
    border: rgb(194, 157, 65);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.navigation>nav>ul>li>a:hover{
    cursor: pointer;
    border-bottom: rgb(194, 157, 65) solid;
}
.btn1:hover{
    cursor: pointer;
    color: white;
}
.baby{
    background-image: url('./Images/dog-cute-pet-web-banner-with-copy-space-generative-ai-free-photo.jpg');
    width: 100%;
    background-size: cover;
    height: 83.7vh;
    margin-top: 1rem;
    

}
.landing>h1{
    font-size: 100px;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 3rem;
}
/* a{
    text-decoration: none;
    color: rgb(194, 157, 65);
    margin: 1rem;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 3rem;
    display: inline-block;
    padding-top: 1rem;
    
    
}
hr{
    border: none;
    height: 2px;
    background-color: rgb(194, 157, 65);
    margin-left: 3rem;
    margin-right: 3rem;
    
}
.button{
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
}
.btn1{
    padding: 0.6rem;
    background: rgb(194, 157, 65);
    border-radius: 150px;
    border: rgb(194, 157, 65);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.btn1:hover{
    cursor: pointer;
    color: white;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sect1-left>h1{
    padding-top: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    margin-left: 3rem;
    color: rgb(194, 157, 65);
}
.sect1-left>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 3rem;
    width: 40%;
    margin-top: 1rem;
    line-height: 1.3rem;
    color: darkslategrey;
}
.section1-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sect1-left>.text{
    color: darkslategray;
}
.sect1-left>h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 2rem;
    margin-top: 2rem;
    color: rgb(194, 157, 65);
    font-size: 30px;
    width: 70%;
    margin-left: 1rem;
}
.sect1-right>img{
    width: 50%;
    margin-top: 2rem;  
    
    
} */