*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(max-width:480px){
    .mobile-img{
        display: block;
        position: relative;
    }
    .mobile-img>img{
        width: 20%;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .mobile-icon-open>a>img{
        width: 70%;
        padding-top: 0.5rem;
    }
    .mobile-logo-text{
      position: absolute;
      top: 86%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      left: 27%;
      transform: translate(-50%, -50%);
      letter-spacing: 0.1rem;
      color: rgb(194, 157, 65);

    }
    .mobile-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .product-header>h1{
        text-align: center;
        margin-top: 2rem;
        color: rgb(194, 157, 65);
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .mobile-product1>img{
          padding-left: 3rem;
      }
      .mobile-product1>.img-product1{
          padding-left: 1rem;
          margin-top: 0.7rem;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          opacity: 0.8;
          
      }
      .price-cart-flex>p{
          background-color: rgb(194, 157, 65);
          margin-left: 1rem;
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
          padding-left: 1rem;
          padding-right: 1rem;
          margin-top: 0.5rem;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
  
      }
      
  
      .price-cart-flex{
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .btn11{
        margin-left: 0.8rem;
        margin-top: 1rem;
        padding: 0.4rem;
        background-color: rgb(194, 157, 65);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        border: rgb(194, 157, 65) solid;
        border-radius: 60px;
        margin-bottom: 0.4rem;
        margin-right: 1rem;
          
      }
      .btn12{
        margin-left: 0.8rem;
        margin-top: 0.8rem;
        padding: 0.4rem;
        background-color: rgb(194, 157, 65);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        border: rgb(194, 157, 65) solid;
        border-radius: 60px;
        margin-bottom: 0.4rem;
        margin-right: 1rem;
  
      }
      .mobile-product5>img{
          padding-left: 4.7rem;
      }
      .mobile-product5>p{
          padding-left: 1rem;
          margin-top: 0.7rem;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          opacity: 0.8;
      }
  
      hr{
        border: none;
        height: 2px;
        background-color: rgb(194, 157, 65);
        margin: 1rem
      }
}